@import "variables";
@import '~vuetify/src/styles/styles.sass';

* {
  font-family: Roboto,sans-serif;
  color: #bdc1c6;
}

body {
  background: $bg-main;
}

.text-positive {
  color: $color-positive
}
.text-negative{
  color: $color-negative
}

.fixedBottom {
  position: fixed !important;
  bottom: 0 !important;
  width: 100%;
}
