// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 20px;
$bg-main: #161618;
$color-positive: green;
$color-negative: red;
